html,body{min-height:100%;}

body {
    margin: 0;
    /*padding*/
    font-family: Verdana, sans-serif !important;
    color: #333333;
    background-color: #567277;
    text-align: center;
}

.nav-link {
    font-size: 25px;
    color: #afb6b7;
}

footer {
    background-color: #333333;
    color: #d5e0e4;
    text-align: center;
    font-size: 13px;
    padding: 25px;
}

.task-board {
    background: transparent;
    /*display: inline-block;*/
    /*width: 850px;*/
    white-space: nowrap;
    min-height: 715px;
    margin: 30px 70px;
}

.tasks-list-wrapper {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    overflow-x: auto;
    background-color: #99a1a2;
}

.tasks-list {
    width: 202px;
    margin: 0 5px 30px 0px;
    height: 715px;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0,0,0,.1) !important;
}

h2.tasks-list-heading {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    border-radius: 2px;
    border-bottom: 1px solid rgba(0,0,0,.1) !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.tasks-list-body {
    height: 90%;
    margin-right: 5px;
    margin-left: 9px;
    overflow: auto;
}

.tasks-list-body::-webkit-scrollbar {
    width: 0.4em;
}

.tasks-list-body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0, 0.2);
    border-radius: 5px;
}

.tasks-list-body::-webkit-scrollbar-track {
    background-color: #e2e4e6;
}

.tasks-list-footer {
    height: 50px;
}

.task {
    margin: 10px 4px 10px 0px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0,0,0,.1);
    border-top: 1px solid rgba(0,0,0,.1);
    font-size: 13px;
    white-space: normal;
    line-height: 20px;
}

.task-title {
    width: 100%;
    padding-bottom: 3px;
    text-align: left;
}

#edit-task-due-date, .task-info-block, .task-title-block{
    cursor: pointer;
}

.task-info-block {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.task-title-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    margin-bottom: 8px;
    #border-bottom: 1px solid rgba(0,0,0,.1);
}

.task-date {
    color: #444444;
    font-weight: 600;
    font-size: 11px !important;
    align-self: flex-end;
}

.delete-task-button {
background: none;
padding: 0px;
}

.add-new-task-button {
background: none;
width: 40px;
text-align: start;
padding-left: 5px;
}

.add-new-task-button:hover {
opacity: 0.3;
}

.tasks {
list-style-type: none;
padding: 0;
margin: 0;
height: 95%;
}

.task-description {
cursor: pointer;
min-height: 60px;
overflow-wrap: break-word;
display: none;
}

.show-hide-details-button {
background: none;
cursor: pointer;
padding: 0px 5px 0px 0px;
}
.ui-dialog-buttonset button {
background: 0 0;
border: 1px solid #3598db;
margin-right: 4px;
color: #3598db;
}

.ui-dialog-buttonset button:last-child {
margin-right: 0px !important;
}

.ui-dialog-titlebar-close {
border: none;
padding: 1px 8px;
background: none;
float: right;
}

.ui-dialog-titlebar {
background: #fcfcfc;
border-bottom: 1px solid #dfdfdf;
height: 36px;
font-size: 18px;
font-weight: 600;
line-height: 2;
padding: 0 0px 0 10px;
}

#edit-task-assign-to{
width: 98%;
}

.autocomplete-loading {
background: transparent url(../img/loading.gif) no-repeat 98% center;
}

.ui-dialog {
z-index: 99 !important;
}

#users-invite-list .user-avatar {
float: left;
width: 45px;
margin-right: 10px;
}

#users-invite-list .user-avatar img{
border-radius: 50%;
border: 1px #f4f4f4 solid;
}

.assign-user-button {
background: none;
padding-left: 0px;
padding-top: 6px;
}

.show-hide-details-button:hover {
opacity: 0.3;
}

input.list-names {
margin: 0px !important;
}

.ui-datepicker-calendar .ui-state-active {
background: #61bd4f !important;
}

.color-line{
min-height: 3px;
}

.color-line-big{
min-height: 8px;
}

.task-wrapper{
padding: 8px 10px;
padding-bottom: 0 !important;
}

.task-menu{
padding-bottom: 5px;
padding-left: 5px;
}

.task-menu-button{
background: none;
cursor: pointer;
padding: 0px 0px 0px 5px;
}

.task-menu-button:hover, .fa-calendar:hover, .fa-user-plus:hover {
opacity: 0.3;
}

.task-board .tasks-list-wrapper:nth-child(1) .color-line,
.task-board .tasks-list-wrapper:nth-child(1) .color-line-big
{
background-color: rgb(0, 9, 99);
}

.task-board .tasks-list-wrapper:nth-child(2) .color-line,
.task-board .tasks-list-wrapper:nth-child(2) .color-line-big
{
background-color: rgb(55, 89, 128)
}

.task-board .tasks-list-wrapper:nth-child(3) .color-line,
.task-board .tasks-list-wrapper:nth-child(3) .color-line-big
{
background-color: rgb(103, 153, 153);
}

.task-board .tasks-list-wrapper:nth-child(4) .color-line,
.task-board .tasks-list-wrapper:nth-child(4) .color-line-big
{
background-color: rgb(254, 100, 29);
}

.ui-dialog, .ui-dialog input{
font-size: 13px !important;
}

.drop-left {
left: -92px;
top: 0px;
}

.dropdown-menu{
min-width: 100px !important;
font-size: 12px;
}

.dropdown-menu i{
padding-right: 10px !important;
}

.dropdown-menu>li>a {
padding: 3px 10px !important;
}

.ui-dialog label, input { display:block; }
.ui-dialog input.text { margin-bottom:20px; width:95%; padding: .4em; }
.ui-dialog fieldset { padding:0; border:0; }

.ui-autocomplete{
background-color: rgb(255, 255, 255);
border: 1px solid rgba(0,0,0,.08);
width: 284px !important;
}

.ui-autocomplete .ui-menu-item{
padding: 10px;
border-bottom: 1px solid rgba(0,0,0,.08);
}

.ui-autocomplete .ui-state-focus{
background-color: #f4f4f4;
cursor: pointer;
}

.mce-tinymce{
margin-bottom: 10px !important;
}

div.mce-toolbar-grp {
border-bottom: 1px solid rgba(0,0,0,.08);
background: #ffffff !important;
padding: 0;
position: relative;
}

div.mce-panel{
border: 0 !important;
}

body{
    font-size: 14px !important;
    font-family: Roboto, sans-serif !important;
}

.mce-menu .mce-menu-item.mce-active.mce-menu-item-normal,
.mce-menu .mce-menu-item.mce-active.mce-menu-item-preview,
.mce-menu .mce-menu-item.mce-selected,
.mce-menu .mce-menu-item:focus,
.mce-menu .mce-menu-item:hover {
    background: #f4f4f4 !important;
    color: #444444 !important;
}

.mce-tinymce-inline, mce-tinymce-inline .mce-container-body{
    width: 632px !important;
}

.dropdown-menu .divider {
    margin: 6px 0 !important;
}

#edit-task-description{
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,.08);
    min-height: 130px;
    line-height: 1.4;
}

.delete-assigned-user{
    cursor: pointer;
}

.delete-confirmation-message{
    float:left;
    margin:12px 12px 20px 0;
}

.ui-datepicker-calendar .ui-state-active {
    background: #444444 !important;
}

#todo-list{
    width: 98%;
    min-height: 20px;
}

/* Css for sub tasks managements */
#todo-list .todo-wrap{
    display:block;
    position:relative;
    padding: 0px 0px 2px 35px;
    -webkit-box-shadow:0 2px 0 -1px #ebebeb;
    -moz-box-shadow:0 2px 0 -1px #ebebeb;
    box-shadow:0 2px 0 -1px #ebebeb;
    width: 100%;
    cursor: pointer;
}

#todo-list .todo-wrap:hover{
    background-color: #f4f4f4;
}

#todo-list .todo-wrap:last-of-type{
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

#todo-list .todo{
    display:inline-block;
    font-weight:200;
    padding-top: 8px;
    height:20px;
    position:relative;
    max-width: 94%;
    cursor: pointer;
}

#todo-list .todo:after{
    content:'';
    display:block;
    position:absolute;
    z-index:0;
    height:16px;
    width:16px;
    top:9px;
    left:-25px;
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 2px #d8d8d8;
    -moz-box-shadow:inset 0 0 0 2px #d8d8d8;
    box-shadow:inset 0 0 0 2px #d8d8d8;
    /*transition*/
    -webkit-transition:.25s ease-in-out;
    -moz-transition:.25s ease-in-out;
    -o-transition:.25s ease-in-out;
    transition:.25s ease-in-out;
    /*border-radius*/
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
#todo-list .todo:hover:after{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 2px #949494;
    -moz-box-shadow:inset 0 0 0 2px #949494;
    box-shadow:inset 0 0 0 2px #949494;
}
#todo-list .todo .fa-check{
    position:absolute;
    z-index:1;
    left:-32px;
    top:0;
    font-size:1px;
    line-height:36px;
    width:31px;
    height:36px;
    text-align:center;
    color:transparent;
    text-shadow:1px 1px 0 white, -1px -1px 0 white;
    cursor: pointer;
}
#todo-list :checked + .todo{
    color:#444444;
}
#todo-list :checked + .todo:before{
    width:100%;
}
#todo-list :checked + .todo:after{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 2px #313b3d;
    -moz-box-shadow:inset 0 0 0 2px #313b3d;
    box-shadow:inset 0 0 0 2px #313b3d;
}
#todo-list :checked + .todo .fa-check{
    font-size:11px;
    line-height:35px;
    color:#313b3d;
}
/* Delete Items */

#todo-list .delete-item{
    display:block;
    position:absolute;
    line-height:36px;
    right: 5px;
    top: -10px;
    text-align:center;
    color:#444444;
    opacity:0;
    cursor: pointer;
    padding-top: 7px;
}
#todo-list .todo-wrap:hover .delete-item{
    opacity:1;
}

#todo-list .delete-item:hover{
    color:#444444;
}
/* Add Items */

#todo-list .input-todo{
    border:none;
    outline:none;
    font-weight:200;
    position:relative;
    top:-22px;
    margin:0;
    padding:0;
    width:100%;
}
#todo-list .input-todo:hover{
    background-color: #f4f4f4;
}

#todo-list .editing{
    overflow:hidden;
    height: 41px;
}

#todo-list .done{
    text-decoration-line: line-through;
    left:0;
    /*transition*/
    -webkit-transition:.25s ease-in-out;
    -moz-transition:.25s ease-in-out;
    -o-transition:.25s ease-in-out;
    transition:.25s ease-in-out;
}

#todo-list .done .fa-check{
    font-size: 11px !important;
    color: #444444;
}

#todo-list .ui-state-highlight {
    padding-top: 15px;
    height: 37px;
    -webkit-box-shadow: 0 2px 0 -1px #ebebeb;
    -moz-box-shadow: 0 2px 0 -1px #ebebeb;
    box-shadow: 0 2px 0 -1px #ebebeb;
    width: 100%;
    background-color: #f4f4f4;
}

.tasks .tasks-highlight{
    height: 100px;
    width: 100%;
    background-color: #f4f4f4;
}

#add-todo {
    margin-bottom: 5px !important;
    width: 98% !important;
}

.checklist-progress {
    margin-bottom: 12px;
    position: relative;
    margin-top: 12px;
    width: 98%;
}

.checklist-progress-percentage {
    color: #5e6c84;
    font-size: 11px;
    line-height: 10px;
    position: absolute;
    left: 0;
    top: -1px;
    text-align: center;
    width: 32px;
}

.checklist-progress-bar {
    background: rgba(9,30,66,.08);
    border-radius: 4px;
    clear: both;
    height: 8px;
    margin: 0 0 0 40px;
    overflow: hidden;
    position: relative;
}

.checklist-progress-bar-current {
    background: #3598db;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: width .14s ease-in,background .14s ease-in;
}

.task-progress {
    position: relative;
    width: 100%;
}

.task-progress-percentage {
    color: #5e6c84;
    font-size: 11px;
    line-height: 10px;
    position: absolute;
    left: 0;
    top: -1px;
    text-align: left;
    width: 22px;
}

.task-progress-bar {
    background: rgba(9,30,66,.08);
    border-radius: 2px;
    clear: both;
    height: 8px;
    #margin: 0 0 0 40px;
    overflow: hidden;
    position: relative;
}

.task-progress-bar-current {
    #background: #3598db;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: width .14s ease-in,background .14s ease-in;
}
